<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<style>
 
    /* *********************************************************************** */
    .quote{
      position: absolute;
  width: 402px;
  height: 104px;
  left: 0px;
  top: 0px;
  /* border-radius:0px 200px; */
  border-bottom-right-radius: 50px;
  
  background: #25B4E8;
  }
  .get{
    position: absolute;
  width: 327px;
  height: 67.76px;
  left: 52px;
  top: 27px;
  
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 57.1073px;
  line-height: 78px;
  
  color: #E5E5E5;
  /* background: #25B4E8; */
  }
  
  .container{
    position: absolute;
    width: 1966px;
    height: 1072.36px;
    left: -24px;
    top: -7px;
  
    background: url(web.png);
  }
  
  .logo{
      position: absolute;
  width: 477.01px;
  height: 125.67px;
  left: 180px;
  top: 343px;
  
    background: url(https://res.cloudinary.com/drrezzrvd/image/upload/v1576487584/logo_letters-03_z9tovu.png);
    background-repeat: no-repeat;
  
  }
 
  
    /* **************************************************************************** */
    .overlay-content{ 
      position: absolute;
width: 168px;
height: 36.03px;
left: 193px;
top: 557px;

font-family: Open Sans;
font-style: normal;
font-weight: normal;
font-size: 27.22px;
line-height: 37px;
/* identical to box height */



}
.overlay-content a {
padding: 8px 8px 8px 32px;
text-decoration: none;
font-size: 25px;
color: #000000;
display: block;
transition: 0.3s;
background: rgba(255, 255, 255, 0.7);
}
.log{

position: absolute;
width: 127.83px;
height: 191px;
left: 1744px;
top: 24px;

background: url(https://res.cloudinary.com/drrezzrvd/image/upload/v1576489687/new_logo_icon-02_qcj56i.png);
}
/* *************************************** */

  </style>
  
  
  
  <router-outlet></router-outlet>
  <div class="container">

          <p class="log"></p>

          <div id="myNav" class="overlay">

                  <!-- Button to close the overlay navigation -->
                  <!-- <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                 -->
                  <!-- Overlay content -->
                  <div class="overlay-content">
                    <a href="#">About</a>
                    <a href="#">Services</a>
                    <a href="#">Clients</a>
                    <a href="#">Contact</a>
                  </div>
                
                </div>
                
                <!-- Use any element to open/show the overlay navigation menu -->
                <span onclick="openNav()">open</span>
    <div class="quote"  >
        
        <a href="home.html"><img class="get" src="https://res.cloudinary.com/drrezzrvd/image/upload/v1576227740/Get_Quote_kptuvj.png"></a>
    
  </div>
    
  
    <div class="logo">
      
  </div>

  
  
      <div id="myNav" class="over">
          <!-- <a href=")" class="closebtn" onclick="closeNav()">&times;</a> -->
          <!-- <div class="overlay-cont">
            <a href="#">About us </a>
            <a href="#">Area</a>
            <a href="#">Product</a>
            <a href="#">Careers</a>
            <a href="#">Careers</a>
          </div>
        </div> -->
        <!-- <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776; open</span> -->
  
  </div>
